# Environment
.env
.env.*

# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# JetBrains
.idea/

# Temporary
*.tmp
*.bak

# Overview
*.00-Project-Overview.md